@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #224941 url("./bg.jpg") no-repeat center center/cover;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px; /*300*/
  width: 200px; /*300*/
  margin: auto;
  position: relative;
  transform: scale(1);
  /* padding-top: 15px; */
  /* border: 1px solid red; */
}

.startBtn {
  cursor: pointer;
  font-size: 20px;
  /* background-color: #010f1c; */
  /* color: white; */
  width: 100px;
  height: 50px;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: solid #fff 1px;
  z-index: 1;
}

.stopBtn {
  cursor: pointer;
  display: none;
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #010f1c;
  padding: 30px;
  /* top: 20px;
  left: 30px; */
  /* padding: 10px 30px; */
  color: #fff;
  /* border-radius: 5px; */
  border: solid #fff 1px;
  z-index: 2;
}

.container:hover .stopBtn.visible {
  display: inline-block;
}

.startBtn.non-visible {
  display: none;
}

#text {
  font-size: 20px;
}

#counter {
  font-size: 18px;
}

.gradient-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 22%,
    #fff 22%,
    #fff 58%,
    #336d62 58%,
    #2a5b52 100%
  );
  height: 220px; /*320*/
  width: 220px; /*320*/
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 90px; /*140*/
  width: 20px;
  height: 140px; /*190*/
  /* background-color: red; */
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.pointer-container.goAround {
  animation: rotate-start 19s linear forwards;
  animation-iteration-count: 2;
  transform-origin: bottom center;
}

/* .pointer-container.goBack {
  animation: rotate-stop 1s linear forwards;
  animation-iteration-count: 1;
  transform-origin: bottom center;
} */

.container.grow {
  animation: grow 4s linear forwards;
}

.container.shrink {
  animation: shrink 8s linear forwards;
}
.container.stop {
  animation: shrink 1s linear forwards;
}

@keyframes rotate-start {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-stop {
  /* from {
    transform: rotate(0deg);
  } */
  to {
    transform: rotate-start;
  }

  /* to {
    transform: rotate(0deg);
  } */
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
