.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 90vw;
  /* border: 1px solid blue; */
}

.back {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 85%;
  cursor: pointer;
}

.container h2 {
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  margin: 40px auto;
}

.btn {
  color: #272727;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  border: 5px solid #272727;
  padding: 30px 70px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  margin: 5px;
}

.rotate:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(136, 176, 211);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 300ms;
}

.rotate:hover:before {
  transform: rotate(0deg);
}

.rotateTwo {
  transition: all 400ms;
}

.rotateTwo:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(132, 134, 136);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top right;
  transform: rotate(90deg);
  transition: transform 300ms;
}

.rotateTwo:hover:before {
  transform: rotate(0deg);
}
.rotateTwo:hover {
  color: white;
}

/* third button: */

.rotateThree {
  border: 3px solid #351435;
  transition: all 800ms;
}

.rotateThree:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  transform: translate(100%);
  /* transform: translate(-100%); */
  transition: all 800ms;
}

.rotateThree:hover::before {
  transform: translate(0);
}

.rotateThree:hover {
  color: white;
}

/* fouth button  */
.opening {
  transition: 1s;
}

.opening:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.opening:hover:before {
  transform: rotateX(0deg);
}

.opening:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.opening:hover:after {
  transform: rotateY(0deg);
}

.opening:hover {
  color: white;
}
