.mybutton {
  background-color: purple;
  height: 70px;
  width: 240px;
  border: none;
  color: white;
  font-size: 20px;
  transition-property: background-color color width;
  transition-duration: 1000ms;
  /* transition-delay: 500ms; */
}

.mybutton-two {
  background-color: blue;
  height: 70px;
  width: 240px;
  border: none;
  color: white;
  font-size: 20px;
  transition: transform 400ms ease-in, color 300ms ease-out 1s;
}

.mybutton-two:hover {
  transform: scale(1.2);
  color: red;
}

.mybutton:hover {
  background-color: royalblue;
  color: black;
  width: 400px;
}


/* more advanced transitions: */

.container {
  width: 900px;
  border: 1px solid blue;
}

.move {
  margin: 20px;
  background-color: skyblue;
  width: 120px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: red;
  border-radius: 10px;
  cursor: pointer;
  transition-property: translate();
  transition-duration: 2s;
}


#ease {
  transition-timing-function: ease;
}
#linear {
  transition-timing-function: linear;
}
#ease-in {
  transition-timing-function: ease-in;
}
#ease-in-out {
  transition-timing-function: ease-in-out;
}
#ease-out {
  transition-timing-function: ease-out;
}

.move:hover{
  transform: translate(760px, 0)
}